@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

.active{
    background-color: rgba(159, 230, 188, 0.366);
    border-color: rgb(37, 86, 33);
}

*{
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar{
    display: none;
 }

 select,input,textarea{
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
    outline-color: rgb(37, 86, 33);
 }